body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}


div.ex1 {
  font-weight: 200;
  font-size: 7em;
	color:#00008B;
   
    margin: auto;
    border: 3px solid #73AD21;
	margin: 0 0 0.1em 0;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
